.slider {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */

  height: 2px;
  background: black;
  outline: none;
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

.slider::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    border: 0;
    background: url('/assets/slider_thumb.svg');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 32px;
    height: 32px;
    border: 0;
    background: url('/assets/slider_thumb.svg');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }